body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:360px;
    height:auto;
    overflow:auto;
  }
  
  div{
      margin: 3%;
  }

  h2 {
      text-align: center;
  }
  
  hr{
    size: 5px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    color: black;
  }

  p {
    width: 100%;
    height: auto;
  }
  .imagealign {
    width: 100%;
    height: auto;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: -40px;
    left: -40px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .mascotas{
    width: 100%;
  }
  
 #pic{
  width: 70px;
  height: 70px;
  float: left;
  
  
 }

  #content{
    margin-left: 90px;
    width: 200px;
    height: auto;
  }

#formular{
    float: left;
    width: 100%;
}

#data{
  padding-top: 1fr;
  width: 100%;
  background-color: #e0e0e05b;
}


  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }